@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, html{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Nunito Sans", sans-serif;
}

nav img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: 1.5em;
}

header{
    justify-content: center;
    align-content: center;
    display: flex;
}

.contenido, .izq, .der{
    display: flex;
    background-color: rgb(201, 201, 201);
    margin: 1em;
    height: 780px;
    border: 3px solid rgb(82, 80, 80);
    border-radius: 10px; 
}

h1, h2{
    color: rgb(22, 22, 22);
    border-bottom: 3px solid rgb(117, 115, 115);
    text-shadow: rgb(168, 165, 165) 2px 4px;
}

h2{
    padding-bottom: 0.2em;
}

.contenido{
    display: block;
    width: 800px;
    min-width: 550px;
}

.izq, .der{
    display: block;
    width: 230px;
    min-width: 160px;
}

b{
    color: rgb(41, 38, 38);
}

/* Layout contenido */

.contenido a{
    position: relative;
    transition: all 200ms;
    color: #2f302f;
    text-decoration: none;
}

.contenido a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(85, 87, 87);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.contenido a:hover{
    color: rgb(85, 87, 87);
}

.contenido a:hover:before{
    transform: scaleX(1);
}

.contenido h1{
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

.contenido p{
    margin: 1em;
}

.contenido ul, .contenido li{
    margin-right: 1em;
}

.contenido ul li::marker{
    color: rgb(49, 47, 47);
}

.contenido button{
    display: inline-block;
    width: 120px;
    height: 40px;
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(218, 216, 216);
    border: 2px solid rgb(114, 113, 113);
    border-radius: 8px;
    box-shadow: rgba(34, 36, 36, 0.5) 0 2px 5px 0;
    transition: all 200ms;
    cursor: pointer;
    font-size: 1em;
}

.contenido button:hover{
    box-shadow: rgba(34, 36, 36, 0.5) 0 4px 7px 0;
    background-color: rgb(230, 226, 226);
}

.imagencontainer{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.imagen{
    display: block;
}

.imagen img{
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    margin: auto;
    margin-top: 1em;
    border: 3px solid rgb(82, 80, 80);
    border-radius: 3px;
    box-shadow: rgba(34, 36, 36, 0.5) 0 3px 6px 0;
}

.imagen p{
    text-align: center;
    font-weight: bold;
    color: rgb(83, 81, 81);
    margin-top: 0.2em;
}

.botones{
    text-align: center;
}

#fondoespecial{
    width: 250px;
}

#subtituloespecial{
    margin: 0;
}

.botonespagina{
    display: flex; 
}

.imagen{
    margin-bottom: auto;
}

.botonespagina{
    justify-content: center;
}

.botonespagina p{
    color: rgb(83, 81, 81);
}

#inusable{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.codeblock{
    margin: 2em;
    margin-top: 1em;
    background-color: rgb(71, 62, 62);
    border-radius: 4px;
}

.codeblock p{
    padding-top: 1em;
    padding-bottom: 1em;
    color: #c8cfca;
}

.contenido h2{
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
}

#imgchobits{
    max-width: 250px;
}

/* Layout izquierda */

.izq h2{
    margin: 1em;
}

.izq ul li{
    margin-top: 0.2em;
}

.izq ul li::marker{
    color: rgb(49, 47, 47);
}

.izq ul li a{
    position: relative;
    transition: all 200ms; 
    color: rgb(34, 36, 36);
    text-decoration: none;
}

.izq ul li a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(85, 87, 87);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.izq ul li a:hover{
    color: rgb(85, 87, 87);
}

.izq ul li a:hover:before{
    transform: scaleX(1);
}

/* Layout derecha */

.der img{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 200px;
    margin-top: 1em;
    box-shadow: rgba(34, 36, 36, 0.5) 0 2px 5px 0;
    transition: all 100ms;
}

#pixjuegos:hover{
    box-shadow: 0px 0px 25px #53be73;
}
