@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, html{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Nunito Sans", sans-serif;
}

nav img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: 1.5em;
}

header{
    justify-content: center;
    align-content: center;
    display: flex;
}

.contenido, .izq, .der{
    display: flex;
    background-color: rgb(201, 201, 201);
    margin: 1em;
    height: 750px;
    border: 3px solid rgb(82, 80, 80);
    border-radius: 10px; 
}

.contenido{
    display: block;
    width: 800px;
    min-width: 550px;
}

.izq, .der{
    display: block;
    width: 230px;
    min-width: 160px;
}

h1, h2{
    text-shadow: rgb(168, 165, 165) 2px 4px;
}

/* Layout contenido */

.contenido h1{
    text-align: center;
}

.contenido p{
    margin: 1em;
}

.imagen{
    flex-flow: nowrap;
    display: flex;
}

.imagen img{
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 250px;
    margin-left: 1em;
    border: 3px solid rgb(82, 80, 80);
    border-radius: 3px;
}

/* Layout izquierda */

.izq h2{
    margin: 1em;
}

.izq ul li{
    margin-top: 0.2em;
}

.izq ul li a{
    transition: all 200ms; 
    color: rgb(34, 36, 36);
}

.izq ul li a:hover{
    color: rgb(85, 87, 87);
}

/* Layout derecha */

.der img{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 200px;
    margin-top: 1em;
}
