@media(max-width:1000px){
    nav img{
        margin-bottom: 1em;
    }

    header{
        display: block;
        justify-content: center;
        align-content: center;
    }

    /* Layout izquierda mobil */

    .izq{
        margin: auto;
        width: auto;
        height: 300px;
        min-width: 300px;
        max-width: 700px;
        display: flex;
    }

    .izq h2{
        margin-right: 0;
        margin-bottom: 0.4em;
    }

    .izq ul{
        margin-top: 0;
        display: block;
    }
    
    .izq li{
        margin-top: 0;
        padding-right: 1em;
    }

    /* Layout contenido mobil */

    .imagencontainer{
        gap: 0.5em;
    }

    .contenido{
        margin: auto;
        margin-top: 1em;
        width: auto;
        height: auto;
        min-width: 300px;
        max-width: 700px;
        max-height: 800px;
    }

    /* Layout derecha mobil */
    .der{
        margin: auto;
        width: auto;
        height: 300px;
        min-width: 300px;
        max-width: 700px;
        margin-top: 1em;
    }
}
